.input--default {
     width: 260px;
}

.input--xl {
     width: 536px;
}

.text--right {
     text-align: right;
}

.text--left {
     text-align: left;
}

.input_text[disabled] {
     background-color: #E0E0E0;
     cursor: not-allowed;
}

.input_text {
     height: 36px;
     border-radius: 4px;
     border: 1px solid var(--border-color);
     padding: 0 12px;
     background-color: var(--white-color);
     color: var(--black-color);
     font-family: RobotoRegular;
     font-size: 14px;
}

.input__text::placeholder {
     font-size: 14px;
     font-weight: 400;
     text-align: left;
     color: var(--placeholder-color);
     font-family: RobotoRegular;
     font-style: italic;
}

.input--error {
     border: 1px solid var(--red-color);
}

.input_text:hover {
     border: 1px solid var(--color-primary);
}

.input_text:focus {
     border: 1px solid var(--blue-color-primary);
}

.input--error:focus {
     border: 1px solid var(--red-color);

}

.label_input {
     display: block;
     margin-bottom: 8px;
     font-family: RobotoMedium;
     font-size: 14px;
}

.label_input span {
     color: red
}

.input_number--r {
     padding-right: 30px;
}