.question {
     display: flex;
     align-items: center;
     gap: 0 10px;
     border-bottom: 2px solid var(--border-color);
     padding-bottom: 10px;
     padding-top: 10px;
     cursor: pointer;
}

.question__text {
     color: var(--color-primary);
     font-weight: 600;
     padding-bottom: 10px;
}

.question__info {
     display: flex;
     gap: 0 20px;
}