.discuss__list-header {
     display: flex;
     justify-content: space-between;
}

.discuss__list-content {
     background-color: var(--white-color);
     margin-top: 15px;
     padding: 15px;
     border-radius: 4px;
}

.discuss__list-top {
     display: flex;
     justify-content: space-between;
}

.discuss__list-body {
     margin-top: 20px;
     height: 480px;
     overflow-y: auto;
}

.input__wrapper {
     position: relative;
}

.input_icon {
     position: absolute;
     right: 12px;
     top: 6px;
}